.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-cuadro {
  background-color: #0c6465;
  margin: 3%;
}

.App-hola{
  background-color: blue;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-cuadro--ImaMia{
  margin-top: 2%;
}
.App-cuadro--perEstudiante{
  margin-top: 2%;
  color: white;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


