.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    margin-top: 4%;
  }
}

.App-cuadro {
  background-color: #0c6465;
  margin: 3%;
}

.App-hola{
  background-color: blue;
}
.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-cuadro--ImaMia{
  margin-top: 8%;
}
.App-cuadro--perEstudiante{
  
  color: white;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ultimo--contenedor {
  max-width: 800px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 0 auto; 
}
.App-segunda-informacion{
  margin-left: 3%;
  text-align: left;
  border-right:5px dotted rgb(51, 213, 189);
}
.ultimo--contenedor{
  margin-top: 3%;
}

.App-segunda-habilidades{
  text-align: left;
  margin-right: 3%;
}
.App-tercera{
  margin: 3%;
  border-top:5px dotted rgb(51, 213, 189);
}

.App-tercera-profesional{
  margin-top:2%;
}